---
layout: layout.liquid
title: Random Name Generator
---

    <h1 id="name">Random Name Generator</h1>
    <button class="btn" onclick="generate()">Generate</button>
    <script src="/randomnamegen.js"></script>