@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
    margin-top: 10%;
    font-family: "Inter", sans-serif;
    color: #272727;
    background: #c7c7c7;
    text-align: center;
    font-size: 30px;
}

.btn {
    font-size: 50px;
    border: #c7c7c7;
    border-radius: 10px;
}

.btn:hover {
    background: #999999;
}